/* You can add global styles to this file, and also import other style files */
.container {
  max-width: 1200px;
  margin: 0 auto;

}

.container::selection {
  color: blue;

}

body {
  margin: 0;
  font-family: Roboto Slab;
}

li {
  list-style: none
}

a {
  text-decoration: none;
}
